---
import TarjetaProyectos from "../components/TarjetaProyectos.astro";
const tarjetas = [
    {
        img: "/assets/gpp-1.png",
        titulo: "Gestor de Presupuestos Personales",
        descripcion: "Una aplicaci칩n para gestionar tus presupuestos de forma sencilla.",
        tecnologias: [
            { img: "/assets/angular.svg", nombre: "Angular" },
            { img: "/assets/typescript.svg", nombre: "TypeScript" },
            { img: "/assets/html.svg", nombre: "HTML" },
            { img: "/assets/tailwindcss.svg", nombre: "TailwindCSS"}
        ],
        enlace: "https://github.com/CarlosPachecoFr/Gestor-Presupuestos-Personales-Angular",
        stack: "Frontend"
    },
    {
        img: "/assets/gpp-1.png",
        titulo: "Gestor de Presupuestos Personales",
        descripcion: "Una aplicaci칩n para gestionar tus presupuestos de forma sencilla.",
        tecnologias: [
            { img: "/assets/java.svg", nombre: "Java" },
            { img: "/assets/spring-boot.svg", nombre: "Spring Boot" },
            { img: "/assets/mysql.svg", nombre: "MySQL" },
            { img: "/assets/jwt.png", nombre: "JWT" },
            { img: "/assets/docker.svg", nombre: "Docker" },
            { img: "/assets/maven.svg", nombre: "Maven" }
        ],
        enlace: "https://github.com/CarlosPachecoFr/Gestor-Presupuestos-Personales-Microservicios",
        stack: "Backend"
    },
    {
        img: "/assets/rvsp-1.png",
        titulo: "RiverSpain",
        descripcion: "Una aplicaci칩n para la ayuda del medioambiente",
        tecnologias: [
            { img: "/assets/angular.svg", nombre: "Angular" },
            { img: "/assets/typescript.svg", nombre: "TypeScript" },
            { img: "/assets/html.svg", nombre: "HTML" },
            { img: "/assets/css.svg", nombre: "CSS" },
            { img: "/assets/bootstrap.svg", nombre: "Bootstrap" },
            { img: "/assets/firebase.svg", nombre: "Firebase" },
        ],
        enlace: "https://github.com/CarlosPachecoFr/proyecto-angular19-RiverSpain",
        stack: "Frontend"
    }
]
---

<section id="proyectos">
    <div>
        <div class="flex flex-col items-center justify-center px-10">
            <p class="text-[30px] font-bold drop-shadow-[0_0_8px_rgba(51,206,51,0.6)] mt-20">Proyectos</p>
            <div class="border-b-4 border-b-[#33CE33] w-15 my-5"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:px-20 mb-15 mt-5">
            {tarjetas.map(tarjeta => (
                <TarjetaProyectos
                    img={tarjeta.img}
                    titulo={tarjeta.titulo}
                    descripcion={tarjeta.descripcion}
                    tecnologias={tarjeta.tecnologias}
                    enlace={tarjeta.enlace}
                    stack={tarjeta.stack}
                />
            ))}
        </div>
        <div class="flex items-center justify-center mb-24 px-6 md:px-20">
            <a href="https://github.com/CarlosPachecoFr" target="_blank" rel="noopener noreferrer" class="border-[#33CE33] bg-[#FAFAFA] border-1 w-full md:w-80 cursor-pointer text-[#33CE33] p-2 text-sm font-semibold rounded-lg inline-block text-center ease-in-out duration-300 hover:bg-[#33CE33] hover:text-white">
                <div class="flex items-center justify-center">
                <p class="whitespace-nowrap pr-2">Ver m치s proyectos en GitHub</p>
                <svg 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg" 
                    class="w-4 h-4 text-current"
                    >
                    <polyline points="15 3 21 3 21 9" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline>
                    <line x1="11" y1="13" x2="21" y2="3" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line>
                    <path d="M21,13v7a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3h7" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                </svg>

            </div>
            </a>
        </div>
    </div>
</section>